main {
    padding: 3rem;

    @media only screen and (max-width: 768px) {
        padding: 1rem;
    }

    text-transform: uppercase;

    button {
        text-transform: uppercase;
        cursor: pointer;
    }

    .buttons {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 100px;

    }

    .field {
        display: grid;
        margin: 0 auto;
        max-width: 900px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;

        .user,
        .ai {
            >div {
                margin-bottom: 100px;
            }
        }

        .user {
            grid-column: 1 /1;
        }

        .winner {
            grid-column: 2 /2;

            @media only screen and (max-width: 768px) {
                grid-row: 3;
                grid-column: 1 / 4;
                margin-top: 40px;
            }

            >div {
                margin-bottom: 20px;
            }
        }

        .ai {
            grid-column: 3 / 3;
        }

    }
}